.header {
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 100%;
    background-color: rgba(226, 189, 141, 0.8); /* Using RGBA color with opacity */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    text-decoration: none;
    font-size: 24px;
    color: white;
  }
  
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: rgb(251, 206, 139);
  }
  
  .cart {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .fa-cart-shopping {
    font-size: 24px;
    color: white;
    margin-right: 5px;
  }
  
  .cart-length {
    background-color: rgb(251, 206, 139);
    color: white;
    font-size: 14px;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -8px;
    right: -8px;
  }
  