body{
background-color: antiquewhite;
  
}

  .app-content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  

  }
  .app-content.entered {
    opacity: 1;
    transform: translateY(0);
  }